snippet gls "insert glossaries reference"
\gls{$1}$0
endsnippet

snippet mye "My emph snippet"
\emph{${1:${VISUAL:text}}}
endsnippet

snippet ddot
\ddot{$1}$2
endsnippet

snippet dot
\dot{$1}$0
endsnippet

snippet _ "symbol with subscript"
${1:x}_{$2}$0
endsnippet

snippet _sup "symbol with sub- and superscript"
${1:x}_{$2}^{$3}$0
endsnippet
